<!-- HTML-шаблон, все цитаты -->

{% extends 'base.html' %}
{% block content %}

<!-- Блок с простыней всех цитат  -->
<div class="main-content">
    <h2>Список всех цитат</h2>

    <form class="d-flex mb-4" role="search" action="{% url 'notes_search' %}">
        <input value="{{ search_text }}" name="text" class="form-control me-2" type="search" placeholder="Найти" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Найти</button>
    </form>

    {% for note in page_obj.object_list %}
    <div class="post-card">
        <h3><a href="{% url 'note_detail' note.id %}">{{note.title}}</a></h3>
        <div>
            <p>{{note.text}}</p>
            <p class="author-signature">{{note.author}}</p>
        </div> 
    </div>
    {% endfor %}

    {% for note in notes %}
    <div class="post-card">
        <h3><a href="{% url 'note_detail' note.id %}">{{note.title}}</a></h3>
        <div>
            <p>{{note.text}}</p>
            <p class="author-signature">{{note.author}}</p>
        </div> 
    </div>
    {% endfor %}

</div>

<!-- Боковая панель с выбором категорий -->
<aside class="sidebar">
    <h2>Выбор категорий</h2>
    <ul>
        {% for category in categories %}
            {% if category.id == active_category.id   %}
                <li><a href="?category={{category.id}}"><b>{{category.title}}</b></a></li>
            {% else %}
                <li><a href="?category={{category.id}}">{{category.title}}</a></li>
            {% endif %}
        
        {% endfor %}
    </ul>

</aside>


{% endblock %}


