<!-- HTML-шаблон, страницы выбранной цитаты -->

{% extends 'base.html' %}
{% block content %}

<div class="container-post">
    <!-- Блок выбранной цитаты -->
    <div class="post-card">
        <h3><a href="{% url 'note_detail' note.id %}">{{note.title}}</a></h3>
        <div>
            <p>{{note.text}}</p>
            <p class="author-signature">{{note.author}}</p>
        </div>
    </div>
    {% if user.is_authenticated %}
        <a type=button {% if is_subscribed %} style="display:none" {% endif %} id="subscribeButton"
        href="{% url 'subscribe' note.author.id %}?next={% url 'note_detail' note.id %}"
        class="btn btn-primary">
        Подписаться на автора цитаты
        </a>
        <a type=button {% if not is_subscribed %} style="display:none" {% endif %} id="subscribeButton"
        href="{% url 'unsubscribe' note.author.id %}?next={% url 'note_detail' note.id %}"
        class="btn btn-outline-primary">
        Отписаться от автора цитаты
        </a> 
    {% endif%}

    {% if user.is_authenticated %}
    <i class="bi bi-hand-thumbs-up"></i>

    <a type="button" {% if is_liked %} style="display:none" {% endif %} id="likeButton"
       href="{% url 'note_like' note.id %}?next={% url 'note_detail' note.id %}"
       class="btn btn-primary">Избранное</a>
    <a type="button" {% if not is_liked %} style="display:none" {% endif %} id="unlikeButton"
       href="{% url 'note_unlike' note.id %}?next={% url 'note_detail' note.id %}" class="btn btn-outline-primary"
       >Убрать из избранного</a>
    {% endif %}

    <!-- Блок комментариев -->
    <div class="comments-section">
        <h4>Комментарии ({{ comments|length }})</h4>
        {% for comment in comments %}
        <div class="comment">
            <p class="comment-author">{{comment.author}}</p>
            <p class="comment-date">{{comment.date}}</p>
            <p class="comment-text">{{comment.text}}</p>
        </div>
        {% endfor %}
    </div>
    <!-- Блок формы добавления комментариев -->
    <div class="comment-form">
        <h4>Добавить комментарий</h4>
        <form action="{% url 'note_detail' note.id %}" method="post">
            {% csrf_token %}
            <label for="text">комментарий</label>
            <textarea id="text" name="text" required></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>


{% endblock %}
