<!-- HTML-шаблон, все цитаты -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Блок с простыней всех цитат  -->
<div class="main-content">
    <h2>Список всех цитат</h2>

    <form class="d-flex mb-4" role="search" action="{% url 'notes_search' %}">
        <input value="{{ search_text }}" name="text" class="form-control me-2" type="search" placeholder="Найти" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Найти</button>
    </form>

    {% for note in page_obj.object_list %}
    <div class="post-card">
        <h3><a href="{% url 'note_detail' note.id %}">{{note.title}}</a></h3>
        <div>
            <p>{{note.text}}</p>
            <p class="author-signature">{{note.author}}</p>
        </div> 
    </div>
    {% endfor %}

    {% for note in notes %}
    <div class="post-card">
        <h3><a href="{% url 'note_detail' note.id %}">{{note.title}}</a></h3>
        <div>
            <p>{{note.text}}</p>
            <p class="author-signature">{{note.author}}</p>
        </div> 
    </div>
    {% endfor %}

</div>

<!-- Боковая панель с выбором категорий -->
<aside class="sidebar" >
    <h2>Выбор категорий</h2>
    <ul>
        {% for category in categories %}
            {% if category.id == active_category.id   %}
                <li><a href="?category={{category.id}}"><b>{{category.title}}</b></a></li>
            {% else %}
                <li><a href="?category={{category.id}}">{{category.title}}</a></li>
            {% endif %}
        
        {% endfor %}
    </ul>
    <h2>Выбор автора</h2>
    <ul>
        {% for author in authors %}
            {% if author.id == active_author.id   %}
                <li><a href="?author={{author.id}}"><b>{{author.name}}</b></a></li>
            {% else %}
                <li><a href="?author={{author.id}}">{{author.name}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>VUE-авторы</h2>
    <div class="author-list-section-ajax" id="sidebar-vue">
        <p>[[message]]</p>
        <ul>
            <li v-for="author in authors" :key="author.id"><a :href="'?author='+author.id">[[author.name]]</a></li>
        </ul>
    </div>

</aside>

<script>
    const { createApp } = Vue
    createApp({
               delimiters: ['[[',']]'],

               data(){return{
                             baseUrl:'http://localhost:8000',
                             authors: [],
                             message: 'Hello, Vue!'
                             }},
               methods: {
                         getAuthors(){
                                      axios.get(`${this.baseUrl}/api/notes/authors`)
                                           .then(response => {console.log(response.data.authors_serializer),this.authors = response.data.authors_serializer})
                         }
                        },
               mounted(){ this.getAuthors() }
               }).mount('#sidebar-vue')
</script>

{% endblock %}


