{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6">
        <h1>Личный кабинет</h1>
        <h3>Цитаты, которые вы добавили на сайт</h3>

        {% for note in notes %}
            <p><a href="{% url 'note_detail' note.id %}">{{ note.title }}</a>
            </p>
        {% endfor %}

        <h3>Мои любимые авторы</h3> 
        {% for subscription in subscriptions %}
            <p><a href="{% url 'notes' %}?author={{subscription.author.id}}">{{ subscription.author }}</a></p>
        {% endfor %}

        <h3>Мои любимые цитаты</h3> 
        {% for noteLike in noteLikes %}
            <p><a href="{% url 'note_detail' noteLike.note.id %}">{{ noteLike.note }}</a></p>
        {% endfor %}

    </div>
</div>
{% endblock %}